<div class="rules-container">
	<div>
		<h1>Game rules</h1>
		<h2>Game board</h2>
		<p>The game board consist of a board frame and 16 movable tiles inside the frame, creating a network of roads. 1 free tile is placed outside the frame used to slide into any row of the movable tiles, changing the roads.</p>
		<h2>Game's goal</h2>
		<p>You should get from your start area, round your flag on the diagonally opposite side and then get back to your start area.</p>
		<h2>Turn overview</h2>
		<p>
			Each player does the following during their turn:
			<ol>
				<li>Rotate and slide in the free tile into a row to change the game board (and thus the roads). You are not allowed to slide out any car from the game board.</li>
				<li>Select the number of steps to drive forward. If you take one step and only one step, you will receive extra energy (an extra step) to be used any time later on.</li>
			</ol>
			No collisions can occur. You can pass another car and stand on the same road position.
		</p>
		<form>
			<button class="btn" onclick="history.go(-1);">Back</button>
		</form>
	</div>
</div>